@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&family=Raleway:wght@100;300;500;700&display=swap');

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --body-back: #f8f9fa;
  --text-color: #333;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-back);
  font-family: 'Raleway', sans-serif;
}

.product-container-1 {
  max-width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 100px;
  justify-items: center;
  padding: 10px; 
}


.header {
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 4em;
  text-transform: uppercase;
  color: var(--text-color);
}

.search-results {
  width: 100%;
  align-self: center;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.product-card {
  position: relative;
  background-color: #fff;
  width: calc(25% - 20px);
  margin: 20px;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card .product-name {
  font-size: 1.8em;
  text-transform: capitalize;
  color: #333;
  margin-bottom: 10px;
  font-family: "Arial", sans-serif;
}

.product-card .product-info {
  font-size: 16px;
  line-height: 22px;
  color: #555;
  margin-bottom: 20px;
}

.product-card .product-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card .product-price {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.product-disponibilidad {
  color: green;
  font-weight: bold;
}

/* Estilos personalizados para productos de bebidas */
.product-card {
  background-color: #fdfdfd;
  border: 1px solid #eaeaea;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product-card .product-name {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 10px;
  font-family: "Arial", sans-serif;
}

.product-card .product-info {
  font-size: 16px;
  line-height: 22px;
  color: #555;
  margin-bottom: 15px;
}

.product-card .product-image {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card .product-price {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}



.selected-product-modal {
  /* Estilos para el modal de detalles del producto */
}

.selected-product-modal h4 {
  font-size: 2em;
  text-transform: capitalize;
  color: var(--text-color);
}

.selected-product-modal p {
  font-size: 18px;
  line-height: 25px;
}

.selected-product-modal .selected-product-image {
  width: 100%;
  margin-bottom: 10px;
}
    /* SearchResults.css */

    .custom-modal-1 {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--white-color);
      border-radius: 10px;
      padding: 20px;
      max-width: 80%;
      max-height: 80%;
      overflow: auto;
      animation: modal-open 0.3s; z-index: 999;
    }

    .custom-overlay-1 {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-content-1 {
      position: relative;
      animation: modal-content-open 0.3s ease-out;
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      color: #888;
    }

    

    @keyframes modal-open {
      from {
        opacity: 0;
        transform: translate(-50%, -60%);
      }
      to {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    @keyframes modal-content-open {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .buy-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }

    .buy-button:hover {
      background-color: #0056b3;
    }

    .buy-button:active {
      background-color: #00397a;
    }

    .loader {
      display: block;
      --height-of-loader: 4px;
      --loader-color: #0071e2;
      width: 130px;
      height: var(--height-of-loader);
      border-radius: 30px;
      background-color: rgba(0,0,0,0.2);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .loader::before {
      content: "";
      position: absolute;
      background: var(--loader-color);
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-radius: 30px;
      animation: moving 1s ease-in-out infinite;
    }

    @keyframes moving {
      50% {
        width: 100%;
      }

      100% {
        width: 0;
        right: 0;
        left: unset;
      }
    }


    .cart-icon {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #333;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
    }


    .cart-items-count {
      position: absolute;
      top: -8px;
      right: -8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background-color: red;
      border-radius: 50%;
      font-size: 12px;
      color: #fff;
    }

    .search-results {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .product-card {
      width: 200px;
      margin: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      background-color: #f8f8f8;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }

    .product-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .product-name {
      font-size: 16px;
      margin-bottom: 5px;
    }

    .product-info {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .product-disponibilidad {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .product-image {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    .add-to-cart-button {
      display: block;
      width: 100%;
      padding: 8px;
      margin-top: 10px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .buy-button {
      display: block;
      width: 100%;
      padding: 8px;
      background-color: #4285f4;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

  

  


    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
    }

    .selected-product-image {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    .cart-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.9); /* Fondo difuminado */
      padding: 20px;
      width: 80%;
      max-width: 400px;
      max-height: 500px; /* Agrega una altura máxima deseada */
      overflow-y: auto; /* Agrega la barra de desplazamiento vertical */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      backdrop-filter: blur(10px); /* Difuminado */
    }
    
    
    .cart-container h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .cart-container ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 20px;
    }
    
    .cart-container li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
    
    .cart-container .cart-item-image {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }
    
    .cart-container .cart-item-name {
      font-weight: bold;
      color: #1b2741;
      text-decoration: underline;
    }
    
    .cart-container .cart-item-price {
      font-weight: bold;
      color: #f67034;
    }
    
    .cart-container .cart-item-quantity {
      font-weight: bold;
      color: #777;
    }
    
    .cart-container .cart-total {
      font-size: 18px;
      font-weight: bold;
      text-align: right;
    }
    
    .cart-container .cart-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }
    
    .cart-container .cart-buttons button {
      background-color: #f67034;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      margin-left: 10px;
    }
    
    .cart-container .cart-buttons button:hover {
      background-color: #d8511f;
    }
    
    .cart-container .cart-buttons button:active {
      background-color: #af401d;
    }
    
    .cart-container .cart-total {
      font-size: 18px;
      font-weight: bold;
      text-align: right;
      margin-bottom: 20px;
    }
    
    .cart-container .cart-total:before {
      content: "Total: ";
      font-weight: normal;
      color: #777;
    }
    
    .cart-container .cart-total span {
      color: #f67034;
    }
    
    
    .cart-icon.animate-shake {
      animation: shake 0.5s ease-in-out;
    }
    
    @keyframes shake {
      0%,
      100% {
        transform: translateX(0);
      }
      10%,
      30%,
      50%,
      70%,
      90% {
        transform: translateX(-5px);
      }
      20%,
      40%,
      60%,
      80% {
        transform: translateX(5px);
      }
    }

   

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.close-button svg {
  width: 20px;
  height: 20px;
  fill: #888;
}

.product-details {
  margin-top: 20px;
}


.product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
}


.product-type {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-alcohol {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-variety {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-brand {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-amount {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-price {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-stock {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-discount {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-discount-percentage {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-container {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-availability {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.product-sells {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.selected-product-image {
  max-width: 40%;
  height: auto;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
