.toolbar-menu select {
  font-family: "Arial", sans-serif; /* Cambia la fuente a Arial o la fuente deseada */
  font-size: 18px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
  margin-top: 10px; /* Ajusta el valor según tus necesidades */
  margin-bottom: 10px; /* Ajusta el valor según tus necesidades */
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.toolbar-menu select:hover {
  border-color: #007bff;
}

.toolbar-menu select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
