*{
   
    margin:0;
    padding:0;
    box-sizing:content-box;
    font-family:cursive;
    
    

  }

  .card{  
    display:inline-table;
    min-height:200px;
    width:260px;
    margin:40px 15px;
    padding:3rem;
    cursor:pointer;
    background-image: linear-gradient(to top, rgba(19, 0, 97, 0.508) 0%, rgba(0, 255, 81, 0.64) 99%, rgb(0, 204, 255) 100%);
    background-color: rgba(19, 0, 97, 0.7);
    border: 1px solid #0026ff;
    box-shadow:  
    0 0 10px hsl(177, 100%, 50%), 
    0 0 12px hsl(151, 100%, 50%);
    border-radius: 50px;
    
  }
  .card img{    
    
    width:100%;
    height:160px;
    border-radius:12px;
    position: static;
    z-index:1000;
    transition:all .5s ease-in-out;
  }
  .card__content{
    
    margin:1rem 0;
    color:#ffffff;
    overflow:hidden;
    margin-top:-200px;
    opacity:0;
    visibility:hidden;
    transition:all .5s ease-in-out;
  }

  .nombre {
    
    margin:.6rem auto;
    text-align:center;
    color: initial;
    font-family: cursive;
    font-size: 20px;
    color: beige;
  }

  .type {
    
    font-size: 14px;
    line-height:1.8rem;
    text-align:center;
    color: antiquewhite;
    font-family: cursive;
  }

  .stock{
    font-size:1.1rem;
    line-height:1.8rem;
    text-align:center;
    color: antiquewhite;
    font-family: cursive;
  }

  .navLink {
  width:200px;
  padding:10px 15px;
  display:block;
  text-align:center;
  margin:.6rem auto;
  font-size:1.1rem;
  color:beige;
  text-decoration:none;
  background-color:#2b2d42;
  border-radius:15px;
  transition:.3s;
  font-family:cursive;
  }

  .navLink:hover{
    
    color:#fff;
    background-color:#1730bf;
    box-shadow:0 0 2px 2px rgba(0,0,0,0.4);
  }
  .card:hover img{
  
    margin-top:-60px;
    box-shadow:0 0 4px 6px rgba(0,0,0,0.3);
  }
  .card:hover>.card__content{
  
    margin-top:0;
    opacity:1;
    visibility:visible;
  }
  @media screen and (max-width:800px){
    .container{
      flex-wrap:wrap;
      align-items: stretch;
    }
  }