.carousel-container {
  position: relative;
  top: 1px;
}

.carousel-wrapper {
  max-width: 100%;
  margin-bottom: 56px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color1);
  min-height: 35vw;
}

.carousel-image {
  width: 100%;
  max-height: 35vw;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: fade 2000ms;
  transition-duration: 2000ms;
}

.carousel-prev {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: auto;
  margin-top: -22px;
  padding-left: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition-duration: 600ms;
  border-right: 3px;
  border-radius: 3px;
  border-color: #000;
  left: 0;
}

.carousel-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: auto;
  margin-top: -22px;
  padding-right: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition-duration: 600ms;
  right: 0;
  border-radius: 3px;
  border-color: #000;
}

.carousel-indicators {
  text-align: center;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.text-slider {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 24px;
  color: #333333;
}

.carousel-indicator {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0;
  margin-right: 2px;
  border-radius: 50%;
  display: inline-block;
  transition-duration: 600ms;
}

.carousel-active-indicator {
  background-color: #717171;
}

.carousel-inactive-indicator {
  background-color: #bbb;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-slider {}

.carousel-title {
  font-size: 4rem;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 10rem;
  background-color: gray;
}

.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}

.titulo{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.descripcion{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


.price{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.carousel-2 {
  display: flex;
  align-items: center;
  background-color: #a4af87;
  color: #fff;
  margin: 0;
  font-size: 1em;
  width: 100%; /* Ajusta el ancho al 100% de la página */
}

.carousel-2 .carousel-contenedor {
  width: 100%; /* Ajusta el ancho del contenido al 100% de carousel-2 */
  padding: 1em; /* Ajusta el espaciado interno según tus preferencias */
}

.carousel-2 .card-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px; /* Ajusta el ancho de cada tarjeta según tus preferencias */
  margin: 1em; /* Ajusta los márgenes entre las tarjetas según tus preferencias */
}

.carousel-2 .card-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el ajuste de la imagen para que se muestre completa y cubra la tarjeta */
}


.w-full {
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.card-1 {
  background-color: rgb(168, 252, 60);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card-1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card-1 button:hover {
  opacity: 0.7;
}
