.carousel-container {
    position: relative;
    top: 1px;
  }
  
  .carousel-wrapper {
    max-width: 100%;
    margin-bottom: 56px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color1);
    min-height: 35vw;
  }
  
  .carousel-image {
    width: 100%;
    max-height: 35vw;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fade 2000ms;
    transition-duration: 2000ms;
  }
  
  .carousel-prev {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: auto;
    margin-top: -22px;
    padding-left: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition-duration: 600ms;
    border-right: 3px;
    border-radius: 3px;
    border-color: #000;
    left: 0;
  }
  
  .carousel-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: auto;
    margin-top: -22px;
    padding-right: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition-duration: 600ms;
    right: 0;
    border-radius: 3px;
    border-color: #000;
  }
  
  .carousel-indicators {
    text-align: center;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .text-slider {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5; /* Cambia el color de fondo a uno más claro */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Arial, sans-serif; /* Cambia la fuente de letra a una adecuada */
    font-size: 24px; /* Ajusta el tamaño de la fuente según tus preferencias */
    color: #333333; /* Cambia el color de las letras a un tono oscuro */
  }
  
  
  .carousel-indicator {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0;
    margin-right: 2px;
    border-radius: 50%;
    display: inline-block;
    transition-duration: 600ms;
  }
  
  .carousel-active-indicator {
    background-color: #717171;
  }
  
  .carousel-inactive-indicator {
    background-color: #bbb;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .carousel-slider {
    
  }
  
  .carousel-title {
    font-size: 4rem;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 10rem;
    background-color: gray;
  }

  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

.carousel-2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 100%;
  background-color: #a4af87;
  color: #fff;
  margin: 0;
  font-size: 2em;
}

.w-full{
  margin-top: 30px;
  width: 100%;
  height: auto;
}