.footer-container {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Ajusta la altura del footer según tus necesidades */
  background-color: #2b2a2a;
  padding: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
 box-sizing: border-box;
}

.footer-content {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
}


.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
}

.footer-item {
  position: relative;
  right: 100px;
  margin-bottom: 2rem;
  text-decoration: none;
  color: white;
}

.footer-item-1 {
  position: relative;
  left: 800px;
  bottom: 166px;
  margin-bottom: 2rem;
  text-decoration: none;
  color: white;
}

.footer-text{
  position: relative;
  margin-bottom: 2rem;
  margin-top: 2px;
  left: 90px;
  
}

.footer-text-1 {
  margin-bottom: 2rem;
  margin-top: 2px;
  position: absolute;
  right: 20px;
  text-decoration: none;
  color: rgb(52, 209, 21);
}

.footer-text-2 {
  text-decoration: none;
  color: white;
  top: 20px;
  position: absolute;
  right: 50px;
}

.footer-text-3 {
  text-decoration: none;
  color: white;
  position: absolute;
  right: 70px;
  top: 40px;
}

.footer-title {
  font-size: 1.25rem;
  font-weight: bold;
  left: 90px;
  position: relative;
  margin-bottom: 0.5rem;
}

.footer-title-1 {
  font-size: 1.25rem;
  font-weight: bold;
  left: 200px;
  bottom: 40px;
  position: absolute;
}

.payment-logo {
  position: absolute;
  right: 690px;
  display: block;
  height: 90px;
  margin-bottom: 2rem;
}

.footer-logo {
  position: relative;
  right: 250px;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.active-link {
  /* Estilos para el enlace activo */
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  top: 190px;
  right: 400px;
  margin-top: 20px;
  position: relative;
}