.footer-container {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px; /* Ajusta la altura del footer según tus necesidades */
  background-color: #2b2a2a;
  color: #ffffff;
  padding: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 box-sizing: border-box;
}

.footer-content {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
}


.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
}

.footer-item {
  position: relative;
  right: 100px;
  margin-bottom: 2rem;
  text-decoration: none;
  color: white;
}

.footer-item-1 {
  position: relative;
  left: 800px;
  bottom: 166px;
  margin-bottom: 2rem;
  text-decoration: none;
  color: white;
}

.footer-text-1 {
  margin-bottom: 2rem;
  margin-top: 2px;
  text-decoration: none;
  color: rgb(52, 209, 21);
}

.footer-text-2 {
  text-decoration: none;
  color: white;
}

.footer-text-3 {
  text-decoration: none;
  color: white;
}

.footer-title {
  
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.payment-logo {
  position: absolute;
  left: 570px;
  display: block;
  height: 90px;
  margin-bottom: 2rem;
}

.footer-logo {
  position: relative;
  right: 100px;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.active-link {
  /* Estilos para el enlace activo */
}

